* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

/* TYPOGRAPHY */

.logo p,
h1,
.footer-text-1 {
  line-height: 108.2%;
  letter-spacing: -3%;
}

.logo p {
  font-family: "Roboto", sans-serif;
  font-size: 0.847rem;
  font-weight: 900;
}

nav li {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #090909;
}

.hero {
  background-image: url(./images/article-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5.438rem 1.25rem 1.563rem 1.25rem;
  color: #fff;
}

.hero date,
h1,
.hero p,
h2,
.article p,
.vm,
.footer-text p {
  margin: 0;
}

.hero date,
.hero p {
  font-weight: 300;
}

.hero date {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1rem;
}

.article date {
  font-size: 0.886rem;
  font-weight: 400;
  margin-bottom: 0.563rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 108.2%;
  margin-bottom: 0.563rem;
}

.article p {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 125%;
}

.vm {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 2.688rem;
}

footer {
  background-color: #202020;
  color: #fff;
  padding: 2.313rem 9rem;
  text-align: center;
}

.footer-text p {
  font-size: 0.75rem;
}

.footer-text-1 {
  font-size: 1rem;
  font-weight: 600;
}

.footer-text-2 {
  font-weight: 300;
  line-height: 125%;
}

/* IMAGES */

.article img {
  width: 100%;
  margin-bottom: 0.875rem;
  border-radius: 0.188rem;
}

/* LAYOUT */

header,
.logo,
nav ul {
  display: flex;
}

header {
  justify-content: space-between;
  padding: 1.063rem 1.25rem;
}

.logo {
  align-items: center;
  gap: 0.313rem;
}

nav ul {
  gap: 1rem;
}

.article-listing {
  display: flex;
  flex-direction: column;
  gap: 2.563rem;
  padding: 2.125rem 1.25rem 1.688rem 1.25rem;
}

@media (min-width: 1085px) {
  /* TYPOGRAPHY */

  .hero {
    padding: 17.938rem 23.438rem 3.75rem 3.313rem;
    height: 488px;
  }

  .hero date {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

  /* LAYOUT */

  header,
  main,
  footer {
    max-width: 1085px;
    margin: 0 auto;
  }

  .article-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.625rem;
    row-gap: 2.875rem;
    padding: 3.313rem 3.313rem 3.188rem 3.313rem;
  }

  .article {
    width: 19.313rem;
  }
}
